ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
}

/* NAVBAR */
nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    float: left;
    background: #fff;
    margin: 0px;
    padding: 0px;
    border-right: 2px solid #a7bcc8;
}

li a {
    display: block;
    color: #034562;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

li a:hover {
    background-color: #e6edf1;
    color: #194160;
}

.logo-container{
    background-color: #e6edf1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.logo {
    height: 250px;
    width: inherit;
    
}

body{
    background-color: #e6edf1
}


